<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" /> 
</head>

<body>
<section class="hero is-fullheight" style="background-color:#A3C6C4;">
    <div class="hero-head">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="../static/send_jpg.jpg" width="112" height="28">
          </a>
      
          <a class="navbar-burger" id="burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      
        <div class="navbar-menu" id="nav-links" >
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('main.index') }}">
              Home
            </a>
      
            <a class="navbar-item" href="{{ url_for('main.howto') }}">
              How does it work?
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="{{ url_for('auth.signup') }}" style="background-color: #ED7458;">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="{{ url_for('auth.unsubscribe') }}">
                   Unsubscribe
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="hero-foot">
        <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">This site has been created as a fun side project. If you have any questions, just reach out to me!</p>
              </div>
        
              <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a href="https://https://lrnz-asnprs.github.io/">Contact Me</a></li>
                  <li><a href="http://wevalueyourprivacy.com/">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
            <hr>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
             <a href="#">Laurenz Aisenpreis</a>.
                </p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li><a class="website" href="https://https://lrnz-asnprs.github.io/"><i class="fa fa-facebook"></i></a></li>
                  <!-- <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>    -->
                </ul>
              </div>
            </div>
          </div>
        </footer>
    </div>
</section>

<script>src="base.js"</script>

</body>
</html>