{% extends "base.html" %}

{% block content %}
<style>
    .center {
      margin: 0;
      position: absolute;
      top: 120%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
</style>
<h1 class="title">
    Hey fellow surfbuddy! <br>
</h1>
<h2 class="subtitle">
    Do you want to receive wind notifications for your favorite spot? :)
</h2>
<div class="center">
    <a href="{{ url_for('signup') }}">
        <button class="button is-block is-info is-large" style="background-color: #ED7458;">Sign Up!</button>
    </a>
</div>
{% endblock %}
