{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Do you really want to unsubscribe? &#128546</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <!-- Here you define which actions should be executed (the actions can be found in the python files!) -->
        <form method="POST" action="/unsubscribe">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <!-- <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div> -->
            <!-- <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div> -->
            
            <button class="button is-block is-info is-large is-fullwidth" style="background-color: #ED7458;">Unsubscribe</button>
        </form>
    </div>
</div>
{% endblock %}